{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} {% block content%}


<section class="dento-blog-area mt-50">
  <div class="container  ">
    <div class="row">
      <div class="col-12 col-lg-8">
        {% for p in blog %}
        <!-- Single Blog Item -->
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="{{ p.imagen.url }}" class="card-img" alt="...">
            
          </div>
          <div class="col-md-6">
            <div class="card-body">
            <h5><a class="nav-link card-title mt-4" href="{% url 'app:infoblog' p.id %}">{{ p.titulo }}</a></h5>
              <!--<h5><a class="card-title">{{ p.titulo }}</h5></a>-->
              <p class="card-text">{{ p.descripcion }}</p>
              <p class="card-text"><small class="text-muted">{{ p.fecha }}</small></p>
            </div>
          </div>
        </div>
        {% endfor %}






        <!-- Pagination -->
        <nav class="dento-pagination mb-100">
          <ul class="pagination">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </nav>
      </div>


      <!-- Dento Sidebar Area -->
      <div class="col-8 col-lg-4 float-right ">
        <div class="dento-sidebar ">

          <!-- Single Widget Area -->
          <div class="single-widget-area news-widget  ">
            <h5 class="widget-title  ">LOS MÁS DESTACADOS</h5>

            <!-- Single News Area -->
            <div class="single-news-area d-flex align-items-center ">
              <div class="blog-thumbnail ">
                <img src="./img/bg-img/21.jpg " alt=" ">
              </div>
              <div class="blog-content ">
                <a href="# " class="post-title ">Tooth decay: why good dental hygiene is important</a>
                <span class="post-date ">28 Sep 2018</span>
              </div>
            </div>

            <!-- Single News Area -->
            <div class="single-news-area d-flex align-items-center ">
              <div class="blog-thumbnail ">
                <img src="./img/bg-img/22.jpg " alt=" ">
              </div>
              <div class="blog-content ">
                <a href="# " class="post-title ">Six reasons your breath might smell like poop</a>
                <span class="post-date ">28 Sep 2018</span>
              </div>
            </div>

            <!-- Single News Area -->
            <div class="single-news-area d-flex align-items-center ">
              <div class="blog-thumbnail ">
                <img src="./img/bg-img/23.jpg " alt=" ">
              </div>
              <div class="blog-content ">
                <a href="# " class="post-title ">Everything you need to know about sinus infection</a>
                <span class="post-date ">28 Sep 2018</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- *****Blog Area End ***** -->


{% endblock content%}