{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} {% block content%}

<section class="dento-blog-area mt-50">
    <div class="container  ">
        <div class="row">
            <div class="col-12 col-lg-8">

                <!-- Single Blog Item -->
                <div class="row no-gutters">
                    <div class="col-md-6">

                        <img src="../media/static/img/about.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Titulo</h3>
                            <p class="card-text">descripcion Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero aliquam amet, fugiat ullam earum neque praesentium. Nostrum iure delectus dolor perspiciatis ducimus consequuntur ipsa facilis eveniet ad, aspernatur
                                recusandae! Adipisci. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}