{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} {% block content%}


<section class="dento--blog-area mt-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mb-100">
                <!-- Blog Details Area -->
                <div class="blog-details-area">
                    <img class="imgblog2" src="{{ trat.imagen.url }}" alt=""> {% autoescape off %}

                    <h2 class="post-title titletrat">{{ trat.nombre }}</h2>
                    <p class="descripcion">{{ trat.descripcion }}</p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content%}