{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} {% block content%}

 
 <div class="container">                                       
  <div class="dropdown">
    {% for p in Psis %}
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      {{ p.nombresistema }}
    </button>
    <div class="dropdown-menu">
      {% for y in p.patologias.all %} 
      <span class="dropdown-item-text">{{ y.nombrepatologia }}</span>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

</div>

{% endblock content%}