{% extends 'base.html' %} {% load static %} {% load bootstrap4 %} {% block content%}
<!-- Section: Testimonials v.4 -->
<section class="text-center my-5">



    <!-- Grid row -->
    <div class="row-responsive">

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item mb-5" data-ride="carousel">


            <!--Controls-->
            <div class="controls-top">
                <a class="light-blue darken-4" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left mb-5"></i></a>
                <a class="light-blue darken-4" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right mb-5"></i></a>
            </div>
            <!--Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active light-blue darken-4"></li>
                <li data-target="#multi-item-example" data-slide-to="1" class="light-blue darken-4"></li>
                <li data-target="#multi-item-example" data-slide-to="2" class="light-blue darken-4"></li>
            </ol>
            <!--Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                {% for p in opi %}
                {% cycle 'start' '' '' as slidestart silent %}
                {% cycle '' '' 'end' as slideend silent %}
                
                {% if slidestart == 'start' %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">     
                    <div class="row justify-content-center">
                {% endif %}
                        
                        <div class="col-md-3 mr-3 ml-3 justify-content-center">
                            <div class="testimonial">
                                <!--Avatar-->
                                <div class="avatar mx-auto">
                                    <img src="{{ p.imagen.url }}" class="rounded-circle img-fluid">
                                </div>
                                <!--Content-->
                                <h4 class="font-weight-bold mt-4"> {{ p.nombre }}</h4>

                                <h6 class="blue-text font-weight-bold my-3">{{ p.edad }}</h6>
                                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>{{p.descripcion}}</p>
                                <!--Review-->

                            </div>
                        </div>

                {% if slideend == 'end' %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}



            </div>
            <!--Slides-->


        </div>

    </div>
    <!--Carousel Wrapper-->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Testimonials v.4 -->
{% endblock content%}