{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} {% block content%}
<div class="container-fluid mt-4">
    <div class="row row-cols-1 row-cols-md-3">
        {% for p in tra %}
        <div class="col">
            <div class="col-md-12 ">
                <h5><a class="nav-link titulo-tra mt-4" href="{% url 'app:infotratamiento' p.id %}">{{ p.nombre }}</a></h5>
                <div class="card-deck">
                    <div class="card rounded-circle">

                        <img src="{{ p.imagen.url }}">

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- <div class="card-columns">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the first card</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
</div> -->

{% endblock content%}