@charset "utf-8";

.imgover {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.imgover::before,
.imgover::after {
    display: block;
    position: absolute;
    content: "";
    text-align: center;
    opacity: 0;
}

.imgover::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.imgover:hover::before,
.imgover:hover::after {
    opacity: 1;
}




