@charset "utf-8";

blockquote {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 30px;
    line-height: 1.4;  
}

.font-xs {
    font-size: .8rem;
}

.font-x2 {
    font-size: 1.8rem;
    line-height: normal;
    color: #4EBE7B 0.1em 0.1em 0.2em;
}

.hoc {
    display: block;
    margin: 0 auto;
}

.one_half{
    display: inline-block;
    float: left;
    margin: 0 0 0 4.21052%;
    list-style: none;
}

.first{
    margin-left:0;
    clear: left;
}

.one_half{
    width: 47.89473%;
}