* {
    margin: 0;
    padding: 0;
}



/*.logo_titu {
    color: #16a374;
    text-shadow: #4EBE7B 0.1em 0.1em 0.2em;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}

.navbar-nav {
    margin-left: 80px;
    border: groove 2px rgb(155, 212, 178);
    border-radius: 70px;
    width: 1000px;
    height: 100px;
}
*/
.nav-link {
    text-align: center;
    font-size: 18px;
    margin-left: 65px;
    /* margin-top: 25px; */
    color: #4EBE7B;
}

.responsiveContent {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 60.2%;
    margin-bottom: -400px;
}

.responsiveContent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.col-sm-4 {
    float: left;
}

.titulo_centro {
    text-align: center;
    font-size: 18px;
    margin-left: 6px;
    margin-top: 50px;
    color: #4EBE7B;
    text-decoration:underline;
}

.texto_centro {
    color: gray;
    /* margin-left: 400px; */
    position: relative;
}

/*img {
    border-radius: 20px;
}*/

.contenedor {
    margin-left: 400px;
    margin-top: 50px;

}
/* .texto_centro {
    margin-top: -230px;
} */
.tituloPerfil {
    color: #4EBE7B;
    margin-left: 180px;
    text-decoration:underline;
    
}
 .imagenPerfil{
  
    margin-left: 100px;
} 
/*.texto_perfil {
    margin-top: -100px;
}*/
.perfil {
    margin-top: 90px;
    width: 500px;
  
}

 .footer{
    background-color:#4EBE7B ;
    width: 100%;
    margin-top: 180px;
  
}



.navbar-default{
    background-color: #e0f2f1;
}

.navbar-brand{
    color:rgb(77, 184, 118);
}

.navbar-brand:hover{
    color: rgb(77, 184, 118);
}
.iconos{
    margin: 0 auto;
  
    
}

@media screen and (max-width:800px) {
    .navbar-nav {
        width: 100%;
        border: 0;
        padding: 0;
        
    }
    
}
@media screen and (max-width:800px) {
.responsiveContent {
    width: 100%;
    margin-top: 60px;
    }
}
@media screen and (max-width:800px) {
    .navbar{
      
        text-align: center;
    }
    .navbar-nav{
        margin: 0;
    }
    .logo_titu{
        width: 100%;

        font-size: 30px;
       
    }
    .nav-link{
    
        font-size: 20px;
    
    }
}
@media screen and (max-width:800px) {
    .texto_centro {
        width: 100%;
        font-size: 20px;
        height: 100%;
    }
    .titulo_centro {
        width: 100%;
        font-size: 20px;
        margin-top: 250px;
    }
    .imagenCentro {
       
        width: 100%;
        margin-right: 100px;
     
    }
}
@media screen and (max-width:800px) {
    .texto_perfil {
        width: 100%;
        font-size: 20px;
        height: 100%;
    }
    .imagenPerfil{
        width: 100%;
        font-size: 20px;
        flex: none;
        justify-content: left;
    }
}